$primary: #37506c;
$grid-gutter-width: 0;
$navbar-padding-y: 0;
$navbar-padding-x: 0;
$warning: #cc5116;
$gray-100: #f2f2f2;
$body-bg: $gray-100;
$font-family-base: "HelveticaNeueCyr";


/*$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%,
  xxl: 98%
);*/



