$primary: #37506c;
$grid-gutter-width: 0;
$navbar-padding-y: 0;
$navbar-padding-x: 0;
$warning: #cc5116;
$gray-100: #f2f2f2;
$body-bg: $gray-100;
$font-family-base: "HelveticaNeueCyr";
$secondary: #292929;
$white-backgound: url('../images/white-bg2.png');
$btn-close-color: $gray-100;
$offcanvas-horizontal-width: 300px;
$dropdown-dark-bg: #1f1f1f;
$dropdown-min-width: 100%;
$dropdown-border-radius: 0;
$dropdown-padding-y:0;
$gray-200: #1b1b1b;
$info: $gray-200;
$danger:#e7e6e6;





