.navbar {
    z-index: 100;
    &__deckstop-logo {
        @include media-breakpoint-down(sm) {
            position: inherit;
            left: 5px;
        }
    }
    &__mobile-menu {
        @include media-breakpoint-down(lg) {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 100%;
            background: black;
        }
    }
    &__toggler {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }
}
.offcanvas-header {
    &__title {
        margin: 0;
    }
}
.offcanvas-body {
    padding: 0;
    &__text-show {
        font-size: 1.2em;
        position: relative;
        display: block;
        width: 100%;
        padding: 15px;
        border-bottom: 1px solid #000;
        -webkit-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
    }
    &__text-hide {
        color: #dee2e6;
        background-color: #1f1f1f;
        border-color: rgba(0, 0, 0, 0.15);
        font-size: 1.2em;
        position: relative;
        display: block;
        width: 100%;
        padding: 15px;
        border-bottom: 1px solid #000;
        -webkit-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
    }
}
