.navbar {
    z-index: 100;
    &__deckstop-logo {
        @include media-breakpoint-down(sm) {
            position: inherit;
            left: 5px;
        }
    }
    &__mobile-menu {
        @include media-breakpoint-down(lg) {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 100%;
            background: black;
        }
    }
    &__toggler {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }
}
.offcanvas-body {
    padding: 0;
    &__text {
        font-size: 1.2em;
        position: relative;
        display: block;
        width: 100%;
        padding: 15px;
        border-bottom: 1px solid #000;
        -webkit-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
    }
    &__dropdown-menu {
        transform: translate3d(0px, 60px, 0px) !important;
    }
    &__dropdown-item {
        font-size: 1em;
        border-bottom: 1px solid #000;
        position: relative;
        display: block;
        width: 100%;
        padding: 15px;
    }
}
.offcanvas-header {
    &__title {
        margin: 0;
    }
}
