.swiper {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: black;
}

.swiper-slide {
    &__img {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    &__image {
        object-fit: cover;
    }
    &_text{
        background-image: url(../images/slider_background.png);
    }
}
