.section-uselinks {
    padding: 35px 0;
    display: block;
    @include media-breakpoint-down(sm){
        padding: 35px 0 0 0;
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;
        border-left: 2px solid rgba(0, 0, 0, 0.5);
        border-right: 2px solid rgba(0, 0, 0, 0.5);
        margin: 10px;
        min-height: 200px;
    }
}
.card-list__context .card__context {
    @media (max-width: 991px) {
        position: relative;
        width: calc(100% + 30px);
        margin-right: -15px;
        margin-left: -15px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
.card-list {
    margin-bottom: 25px;
    align-content: flex-start;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}
.col-divider {
    position: relative;
    padding-right: 35px;
}
.card {
    &__card-context {
        display: block;
        padding: 0;
        word-wrap: break-word;
        overflow: auto;
    }
    &__content {
        overflow: auto;
    }
    &__header {
        display: block;
        margin-bottom: 6px;
        font-size: 1rem;
        line-height: 1.5;
        color: #000;
        padding-left: 15px;
        margin-top: 10px;
        @include media-breakpoint-down(lg){
            padding-left: 0;
            margin: 20px 0;
        }
    }
}
